.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 5vh;
}

.login-card {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #212121;
}

.inspiration-text {
  position: absolute;
  bottom: 30px;
  left: 40px;
  z-index: 100;
  color: #fff;
  font-size: 2.2rem;
}

.bg-img {
  height: 600px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 20px;
    mask: linear-gradient(20deg, transparent, #000 90%);
    // backdrop-filter: blur(1px);
  }
}

.login-form {
  padding-top: 5vh;

  .logo-section {
    margin-bottom: 10vh;
    padding: 0 40px;

    .logo-wordmark {
      color: var(--app-blue);
      font-size: 2rem;
      font-weight: 600;

      span {
        color: var(--app-gold);
      }
    }

    .portal-name {
      color: #f1f1f1;
      font-size: 1.3rem;
      // font-weight: 600;
    }
  }

  form {
    padding: 0 40px;

    h4 {
      color: #f1f1f1;
      margin-bottom: 5vh;
      font-size: 1.3rem;
    }

    .instruction {
      color: #f1f1f1;
      margin-bottom: 20px;
    }

    .form-group {
      position: relative;

      .fa-lock,
      .fa-user {
        position: absolute;
        left: 30px;
        top: 15px;
        // padding-top: 10px !important;
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        -webkit-text-fill-color: #fff !important;
        -webkit-box-shadow: 0 0 0 30px #5f6063 inset !important;
      }

      input {
        padding-left: 50px !important;
        background-color: #5f6063;
        border: 2px solid #80868b !important;
        color: #fff !important;

        &:active,
        &:focus,
        &:hover {
          border: 2px solid var(--app-blue) !important;
          color: #fff !important;
        }
      }
    }

    .fa-solid {
      color: #fff;
    }

    .eye-icon {
      position: absolute;
      top: 17px;
      right: 30px;
      cursor: pointer;
    }

    .forgot-password {
      font-size: 0.9rem;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: #005aa9;
      }
    }

    .btn-login {
      background-color: var(--app-blue);
      width: 100%;
      color: #3c4043;
      letter-spacing: 1px;
      font-weight: 600;
      padding: 10px;
    }
  }
}
