<div class="container login-page">
	<div class="row justify-content-center">
		<div class="col-md-5">
			<div class="card login-card">

				<div class="logo-section">
					<!-- <img src="../../assets/images/hfc-logo.png" alt="" class="logo" /> -->
					<span class="logo-wordmark">Tecom Advance Admin Portal</span>
				</div>

				<form class="form" role="form" [@fadeIn]>

					<div class="alert alert-danger" *ngIf="authenticationError" data-cy="loginError" [@fadeIn]>
						<strong>Failed to Login! </strong> {{errorMessage}}
					</div>

					<h4>Login</h4>

					<p class="instruction">Enter your credentials and click Login</p>

					<div class="form-group row mb-4">
						<div class="col-md-12">
							<span><i class="fa-solid fa-user"></i></span>
							<input type="text" class="form-control" name="username" id="username" placeholder="login"
								(ngModelChange)="authenticationError = false" [(ngModel)]="login.username" #username
								data-cy="username" />
						</div>
					</div>

					<div class="form-group row mb-3">
						<div class="col-md-12">
							<span><i class="fa-solid fa-lock"></i></span>

							<input type="password" class="form-control" name="password" id="password"
								placeholder="password" (ngModelChange)="authenticationError = false"
								[(ngModel)]="login.password" data-cy="password" />
							<span><i class="fa-solid eye-icon" [ngClass]="{ 'fa-eye': open, 'fa-eye-slash': !open }"
									(click)="showPassword()"></i></span>
						</div>
					</div>

					<!-- <div class="row mb-5">
								<div class="col-md-6 text-right">
									<span [routerLink]="['/account/reset/request']" data-cy="forgetYourPasswordSelector"
										class="forgot-password">Forgot password ?</span>
								</div>
							</div> -->

					<div class="row mt-4">
						<div class="col-md-12">
							<button type="submit" class="btn btn-login" data-cy="submit" (click)="loginUser()"
								[disabled]="logingIn">LOGIN</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>