<div class="container-fluid users">
	<div class="container">

		<div class="card card-table">



			<div class="table-header-section">
				<div>
					<h4 class="table-title"> Users
						<small class="table-subtitle" *ngIf="!loadingUsers" [@fadeIn]>({{totalLength}}
							items)</small>
					</h4>

				</div>
				<div>
					<!-- <button class="btn btn-download me-3" title="Redirects to Download File Metadata in Excel"
						(click)="createBatchTask()" [disabled]="prepareBatch">
						<span class="m-0"><i class="fa-solid fa-file-arrow-down"></i></span>
					</button> -->
					<button class="btn btn-create me-3" *hasRole="['SUPER_ADMIN']" data-bs-toggle="modal" data-bs-target="#createUserModal"
						(click)="resetUser()">
						<span><i class="fa-solid fa-plus"></i></span>&nbsp; Create user
					</button>
					<button class="btn btn-refresh" title="Refresh users" (click)="getUsers(page)">
						<span><i class="fa-solid fa-sync"></i></span>&nbsp; Refresh
					</button>
				</div>
			</div>

			<!-- 	
			<span class="filter-text">Filtering options</span>
			<div class="filter-wrapper">
	
				<div class="wrap ms-0">
					<select class="form-control" name="role" [(ngModel)]="filters.roleId" (change)="getUsers(1)">
						<option value="">All roles</option>
						<option *ngFor="let role of roles;index as i" [value]="role.id">{{role.name}} </option>
					</select>
				</div>
	
				<div class="wrap ms-0">
					<select class="form-control" name="status" [(ngModel)]="filters.status" (change)="getUsers(1)">
						<option value="">All statuses</option>
						<option *ngFor="let status of statuses;index as i" [value]="status">{{status}} </option>
					</select>
				</div>
	
				<div class="wrap">
					<input type="text" class="form-control" placeholder="name" name="name" [(ngModel)]="filters.name"
						(keyup.enter)="getUsers(1)" />
				</div>
	
				<div class="wrap">
					<input type="text" class="form-control" placeholder="email" name="email" [(ngModel)]="filters.email"
						(keyup.enter)="getUsers(1)" />
				</div>
	
				<div class="wrap">
					<button class="btn btn-refresh" title="Search users" [disabled]="loadingUsers" (click)="getUsers(1)">
						<span><i class="fa-solid fa-search"></i></span>&nbsp; Search
					</button>
				</div>
	
				<div class="wrap">
					<button class="btn btn-clear-filters" [disabled]="loadingUsers" (click)="resetFilters()">
						clear filters
					</button>
				</div>
			</div> -->

			<div class="donut-container" *ngIf="loadingUsers" [@fadeIn]>
				<div class="donut-wrapper">
					<div class="donut multi"></div>
				</div>
			</div>

			<table class="table" *ngIf="users.length && !loadingUsers" [@fadeIn]>
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col" width="20%">Title</th>
						<th scope="col">Role</th>
						<th scope="col">Email</th>
						<th scope="col">Mobile number</th>
						<th scope="col">Status</th>
						<th scope="col">Created on</th>
						<th scope="col" class="text-center" width="100px">
							Actions
						</th>
					</tr>
				</thead>
				<tbody>
					<tr
						*ngFor="let user of users | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalLength}; index as i">
						<td>
							{{ user.name }}
						</td>
						<td>
							{{ user.jobTitle }}
						</td>
						<td>
							<span class="badge" [ngClass]="user.role === 'USER' ? 'badge-primary' : 'badge-black'">{{
								user?.role }}</span>
						</td>
						<td>
							{{ user.email ?? '—' }}
						</td>
						<td>
							{{ user.phoneNumber ?? '—' }}
						</td>
						<td>
							<span class="badge"
								[ngClass]="user?.status === 'ACTIVE' ?  'badge-success' : 'badge-danger'">{{
								user?.status }}</span>
						</td>

						<td>
							{{(user.createdOn | date : 'MMM d y , HH:mm') ?? '—'}}
						</td>
						<td class="text-center">
							<div class="dropdown">
								<!-- *jhiHasAnyAuthority="['MAKER', 'DFS_CUSTOMER_PROFILE', 'RF_ADMIN']" -->
								<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
									data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<!-- [ngClass]="{'not-allowed':user?.status !== 'ACTIVE'}" -->
									Actions
								</button>
								<div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createUserModal"
										(click)="selectUser(user,'EDIT')" [hidden]="user?.status !== 'ACTIVE'">
										Edit
									</a>
									<ng-container *hasRole="['SUPER_ADMIN']">
										<a class="dropdown-item" data-bs-toggle="modal"
											data-bs-target="#userActionModal" (click)="selectUser(user,'ACTIVATE')"
											[hidden]="currentUser.email === user.email || user?.status === 'ACTIVE'">
											Activate
										</a>
										<a class="dropdown-item" data-bs-toggle="modal"
											data-bs-target="#userActionModal" (click)="selectUser(user,'DEACTIVATE')"
											[hidden]="currentUser.email === user.email || user?.status !== 'ACTIVE'">
											Deactivate
										</a>
										<a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#passResetModal"
											(click)="selectUser(user,'RESET')">
											Reset password
										</a>
										<a class="dropdown-item" data-bs-toggle="modal"
											data-bs-target="#userActionModal" (click)="selectUser(user,'DELETE')"
											[hidden]="currentUser.email === user.email">
											Delete
										</a>
									</ng-container>

								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="pagination-container" align="center" class="mt-4"
				*ngIf="totalLength > itemsPerPage && users?.length && !loadingUsers" [@fadeIn]>
				<pagination-controls (pageChange)="getUsers((page = $event))" [maxSize]="7" previousLabel=""
					nextLabel=""></pagination-controls>
			</div>

			<div class="text-center my-5" *ngIf="!users.length && !loadingUsers">
				<span class="text-muted">No users found</span>
			</div>
		</div>
	</div>
</div>






<!-- Create / Edit User Modal -->
<div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">{{user?.id ? 'Edit' : 'Create'}} user </h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
					id="closeEditModal"></button>
			</div>
			<div class="modal-body px-4">


				<!-- <small class="request-desc d-flex">
					<strong class="red-text d-block me-2">*</strong>
					<span>
						This operation is treated as <strong>a request</strong>.
						This means it will be <strong>reviewed and processed</strong> after submission.
					</span>
				</small> -->

				<div class="alert alert-danger" *ngIf="userActionFail" [@fadeIn]>
					<strong>Failed to {{(user?.id ? 'edit' : 'create')}} user! </strong> {{errorMessage}}.
				</div>

				<form class="row">


					<div class="form-group col-md-6">
						<label for="">Name</label>
						<input type="text" class="form-control" name="name" [(ngModel)]="user.name"
							placeholder="Enter name" autocomplete="off">
					</div>

					<div class="form-group col-md-6">
						<label for="">Email
							<small class="red-text fw-normal fst-italic ms-2" *ngIf="emailInvalid" [@fadeIn]>
								Email is invalid</small>
						</label>
						<div class="position-relative">
							<input type="text" class="form-control" name="email" [(ngModel)]="user.email"
								(ngModelChange)="emailInvalid = false" (ngModelDebounceChange)="validateEmail()"
								[ngModelOptions]="{standalone: true}" placeholder="Enter email username"
								autocomplete="off">
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="">Mobile number </label>
						<!-- <small class="label-desc">Required for login via OTP</small> -->
						<input type="text" class="form-control" placeholder="Enter mobile number" name="phoneNumber"
							[(ngModel)]="user.phoneNumber" pattern="[0-9]*" inputmode="numeric"
							oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0/,254).replace(/^7/,2547).replace(/(\..*)\./g, '$1');" />
					</div>

					<div class="form-group col-md-6" *hasRole="['SUPER_ADMIN']">
						<label>Role</label>
						<select class="form-control" name="role" [(ngModel)]="user.role" required="required"
							data-error="Select role">
							<option *ngFor="let role of ['SUPER_ADMIN','USER']" [value]="role">
								{{role}} </option>
						</select>
					</div>

					<div class="form-group col-md-6" *hasRole="['SUPER_ADMIN']">
						<label for="">Job title</label>
						<input type="text" class="form-control" name="jobTitle" [(ngModel)]="user.jobTitle"
							placeholder="Enter job title" autocomplete="off">
					</div>

					<div class="form-group position-relative col-md-6" *ngIf="!user?.id">
						<label for="">Password</label>
						<input type="text" class="form-control" name="password" id="password"
							[(ngModel)]="user.password" placeholder="Enter password" autocomplete="off">
						<span><i class="fa-solid eye-icon"
								[ngClass]="{ 'fa-eye': openPassEye, 'fa-eye-slash': !openPassEye }"
								(click)="showPassword('password')"></i></span>
					</div>

				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-submit" (click)="user?.id ? editUser() : createUser()"
					[disabled]="performingAction || emailInvalid || !user.email || !user.name || !user.phoneNumber || (!user.id && !user.password)">
					{{performingAction ? 'Submitting ...' : 'Submit'}}
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Password Reset Modal  -->

<div class="modal fade" id="passResetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Reset password </h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
					id="closePassResetModal"></button>
			</div>
			<div class="modal-body px-4">

				<div class="alert alert-danger" *ngIf="userActionFail" [@fadeIn]>
					<strong>Failed to update password user! </strong> {{errorMessage}}.
				</div>

				<form>

					<div class="form-group">
						<label for="">Email
							<small class="red-text fw-normal fst-italic ms-2" *ngIf="emailInvalid" [@fadeIn]>
								Email is invalid</small>
						</label>
						<div class="position-relative">
							<input type="text" class="form-control" name="email" [(ngModel)]="user.email"
								(ngModelChange)="emailInvalid = false" (ngModelDebounceChange)="validateEmail()"
								[ngModelOptions]="{standalone: true}" placeholder="Enter email username"
								autocomplete="off" readonly disabled="">
						</div>
					</div>

					<div class="form-group position-relative">
						<label for="">Password</label>
						<input type="text" class="form-control" name="password" id="resetPassword"
							[(ngModel)]="user.password" placeholder="Enter password" autocomplete="off">
						<span><i class="fa-solid eye-icon"
								[ngClass]="{ 'fa-eye': openPassEye, 'fa-eye-slash': !openPassEye }"
								(click)="showPassword('resetPassword')"></i></span>
					</div>

				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-submit" (click)="setUserPassword('closePassResetModal')"
					[disabled]="performingAction || !user.password">
					{{performingAction ? 'Resetting ...' : 'Reset'}}
				</button>
			</div>
		</div>
	</div>
</div>


<!-- Activate / Deactivate / Delete User Modal -->
<div class="modal fade" id="userActionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">{{action | titlecase}} user </h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
					id="closeUserActionModal"></button>
			</div>
			<div class="modal-body py-4">

				<div class="alert alert-danger" *ngIf="userActionFail" [@fadeIn]>
					<strong>Failed to {{action | lowercase}} user! </strong> {{errorMessage}}.
				</div>

				You are about to <strong [ngClass]="action !== 'ACTIVATE' ? 'red-text' : 'green-text'">
					{{action | lowercase}} </strong>
				<strong>{{user?.name}}'s</strong>
				account. Would you like to proceed?

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>

				<button type="button" class="btn" [ngClass]="action !== 'ACTIVATE' ? 'btn-delete'  : 'btn-submit'"
					(click)="action === 'DELETE' ? deleteUser() : editUser()" [disabled]="performingAction">{{action |
					titlecase}}</button>

			</div>
		</div>
	</div>
</div>