<!-- FILES UPLOAD INPUT  -->
<div class="border-top py-4 mt-4">
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h5 class="instruction-title mb-0">{{title}}</h5>

		<button type="button" class="btn btn-refresh" (click)="openUploadDialog()">Select images</button>
	</div>


	<div class="custom-file-div d-flex justify-content-center align-items-center mb-4"
		[ngClass]="{'hover-state':dragInProgress}" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
		(mouseleave)="dragInProgress = false">
		<span *ngIf="entityImages?.length < limit" class="d-block mb-0" [@fadeIn]>Drag and drop <strong>images</strong>
			to upload</span>
		<span *ngIf="entityImages?.length === limit" class="d-block mb-0" [@fadeIn]>Images limit
			(<strong>{{limit}}</strong>) has been reached</span>

		<!-- 		
			<small class="uploading-message d-block text-center mt-2"
				[ngClass]="{'redText':wrongFileFormat , 'lightBlueText': !wrongFileFormat}">{{message}}</small>
		 -->
		<div class="wrap" [hidden]="entityImages?.length === limit">
			<input type="file" class="custom-file-input" (change)="onFileChange($event)"
				[accept]="'.png, .jpg, .jpeg, .heic'" multiple id="uploadfile" name="file" />
			<!-- <label class="custom-file-label" for="uploadFile"></label> -->
		</div>
	</div>



	<div class="key-listing mb-2" *ngIf="entityImages?.length" [@fadeIn]>
		<div class="key-item {{ key.style }}" *ngFor="let key of fileKeys" [appTooltip]="key.titleDesc">
			<span class="icon"><i class="fas fa-square"></i></span>
			<span class="desc"> {{ key.desc }} </span>
		</div>
	</div>



	<div class="product-media-listing">
		<div class="file-item" *ngFor="let file of entityImages; index as i"
			[ngClass]="{ 'duplicate-error': file.duplicate, 'upload-success': file.uploaded, 'upload-error': file.failed }">

			<div class="product-content">
				<div class="terms-checkbox cursor-pointer" appTooltip="Set as cover image"
					*ngIf="showSetCoverImage">
					<input type="checkbox" [name]="'coverImage-' + (i+1)" [checked]="coverImage === file.uuid"
						(change)="setCoverImage(file)"
						[disabled]="disableIfFileActivity() || file.duplicate || !file.uploaded" />
				</div>
				<div class="image-item">
					<img class="d-block w-100" [src]="file.uuid ? (file.uuid | sanitizeFileUrl) : file.previewUrl"
						alt="blob" imageFallback />
				</div>

				<div>

					<span class="title fw-bold">
						{{ ((file?.size <= (150 * 1024) || file?.wrongFormat) ? file?.size : file?.blob?.size) | fileSize }} </span>


							<span class="title red-text" *ngIf="file?.wrongFormat"> unsupported file format </span>
				</div>


				<!-- {{ file.name }} -->
				<!-- size- {{file?.size | fileSize}} -->
				<!-- <div class="progress-bar-animated" [style.width.%]="file.progress"></div> -->
			</div>


			<div class="icon-container">
				<span class="icon mr-2" appTooltip="Retry uploading" tooltipPosition="left"
					*ngIf="!file.uploading && !file.duplicate && file.failed" [@fadeIn] (click)="uploadFile(file)">
					<i class="fa-solid fa-rotate-right"></i>
				</span>
				<span class="icon" appTooltip="Remove from list" tooltipPosition="left"
					*ngIf="!file.uploading && !file.compressing" [@fadeIn] (click)="removeFileFromList(i)">
					<i class="fa-solid fa-trash-can"></i>
				</span>
				<span class="spinner-icon" [appTooltip]="file.compressing ? 'Compressing ...' : 'Uploading ...'"
					tooltipPosition="left" *ngIf="file.uploading || file.compressing" [@fadeIn]>
					<i class="fa-solid fa-spinner fa-spin"></i>
				</span>
			</div>
		</div>
	</div>
</div>