<nav class="navbar navbar-expand-lg fixed-top" *ngIf="!router.url.includes('login')">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Admin Portal</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item" [ngClass]="{'active-nav-item':router.url.includes('reports')}">
					<a class="nav-link" routerLink="reports">Reports</a>
				</li>
				<li class="nav-item" [ngClass]="{'active-nav-item':router.url.includes('user-management')}">
					<a class="nav-link" routerLink="user-management">Users</a>
				</li>
				<li class="nav-item" [ngClass]="{'active-nav-item':router.url.includes('shop-management')}">
					<a class="nav-link" routerLink="shop-management">Shop</a>
				</li>

				<li class="nav-item dropdown border-0">
					<a class="nav-link dropdown-toggle profile-nav-link" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						<div>
							<span class="profile-icon">
								<span>{{currentUser?.name?.charAt(0)}}</span>
							</span>
						</div>
						<div class="d-inline-flex flex-column me-3">
							<span>{{currentUser?.name | titlecase}}</span>
							<span class="role">{{currentUser?.role?.replaceAll('_',' ')}}</span>
						</div>
						<span><i class="fa-solid fa-sort-down"></i></span>
					</a>
					<ul class="dropdown-menu dropdown-menu-end">
						<li>
							<a class="dropdown-item" (click)="logout()">
								<span class="me-3"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
								Sign Out
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>