/* You can add global styles to this file, and also import other style files */
@import "./assets/css/font-montserrat.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
// DEV
// ng build --base-href https://wess58.github.io/tecom-rg/ --output-path docs/ && mv docs/browser/* docs/ && rm -rf docs/browser && git add . && git commit -m "docs ready for deployment" && git push
// PROD
// ng build &&  mv dist/browser/* dist/ && rm -rf dist/browser
// @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --app-blue: #13d0d5;
  --app-gold: #ffd6b3;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  // font-family: "Inter", sans-serif;

  // font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;

  letter-spacing: 1px;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  letter-spacing: 1px;
  color: #5f6063;
  // font-weight: 600;
}

* a,
* button,
* input,
* select,
* textarea {
  outline: none !important;
  box-shadow: none !important;
}

* img {
  user-drag: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}

input,
select,
textarea {
  border-radius: 4px !important;
  border: 2px solid #e1e1e1 !important;
  outline: none !important;
  box-shadow: none !important;
  background-clip: padding-box !important;
  color: #5f6063 !important;
  padding: 10px 12px !important;
}

input:active,
input:focus,
input:hover,
select:active,
select:focus,
select:hover,
textarea:active,
textarea:focus,
textarea:hover {
  border: 2px solid #5f6063 !important;
}

* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 40%;
  cursor: pointer;
}

* label {
  color: #5f6063;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
}

.form-group {
  margin-bottom: 20px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #80868b99 !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #80868b99 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #80868b99 !important;
}

.terms-checkbox {
  font-size: 0.9rem;

  input {
    margin-right: 15px;
    margin-left: 5px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  a {
    color: #80868b;
    text-decoration: underline;
  }
}

.red-text {
  color: #d11a2a !important;
}

.green-text {
  color: #36a636 !important;
}

.orange-text {
  color: #ffa500 !important;
}

.red-border-input {
  border: 2px solid #d11a2a !important;

  &:active,
  &:focus,
  &:hover {
    border: 2px solid #d11a2a !important;
  }
}

.outlet {
  min-height: calc(100vh - 50px);
}

.container-fluid {
  padding: 0;
}

.container {
  min-width: 80vw;
}

.cursor-pointer {
  cursor: pointer !important;
}

.dropdown-menu {
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  padding: 0;
  overflow-x: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  a {
    padding: 10px;
    color: #5f6063 !important;
    font-size: 0.9rem;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f177;
    }
  }

  .divider {
    background-color: #e1e1e1;
    height: 1px;
    width: 100%;
  }
}

.btn-create {
  background-color: #212121 !important;
  color: #fff !important;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 5px;
}

.btn-refresh,
.btn-download {
  background-color: var(--app-blue) !important;
  color: #3c4043 !important;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 5px;
  span {
    margin-right: 5px;
  }
}

.btn-download {
  background-color: #f08121 !important;
  color: #fff;
}

// ************************************
// BADGE STYLING
// ************************************

.badge {
  text-transform: uppercase;
  font-size: 13px !important;
}

.badge-danger {
  background-color: #f3d1d1;
  color: #a90909;
}

.badge-success {
  background-color: #adf0cc;
  color: #14713f;
}

.badge-secondary {
  background-color: #f1f1f1;
  color: #5f6063;
}

.badge-primary {
  background-color: #b3e4f5;
  color: #11637e;
}

.badge-warning {
  background-color: #fff2de;
  color: #a76807;
}

.badge-black {
  background-color: #212121;
  color: #fff;
}

.upload-success {
  border: 2px solid #84bd00 !important;
}

.duplicate-error {
  border: 2px solid #ffa500 !important;
}

.upload-error {
  border: 2px solid #d11a2a99 !important;
}

// **********************************
// MEDIA UPLOAD STYLING
// *************************************

.product-media-listing {
  .file-item {
    border: 2px solid #f1f1f1;
    padding: 10px 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .product-content {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .image-item {
      width: 60px;
      height: 60px;
      border: 1px solid #f1f1f1;
      border-radius: 12px;
      overflow: hidden;
      margin-right: 20px;
      background-color: #f1f1f1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .icon-container {
      .icon {
        padding: 13px 15px;
        cursor: pointer;

        &:hover {
          background-color: #e1e1e1;
          border-radius: 50%;
        }
      }
    }
  }
}

.key-listing {
  .key-item {
    display: inline-block;
    margin: 0 25px 5px 0;

    .icon {
      margin-right: 5px;
    }

    .desc {
      font-size: 0.9rem;
    }
  }
}

// *******************************
// FILTERING SECTION STYLING
// *********************************
.filter-text {
  font-size: 0.9rem;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  color: #80868b;
}

.filter-wrapper {
  display: flex;
  width: 100%;

  .wrap {
    display: inline-block;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  .uneditable-input {
    background-color: #fff;
    border: 2px solid #e1e1e1;
    width: max-content;
    padding: 5px 10px;
    border-radius: 7px;
    position: relative;
    cursor: pointer;

    .inputsearch {
      width: 1px !important;
      height: 1px !important;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 15px;

      input {
        padding: 0 !important;
        border: none !important;
      }
    }

    span {
      font-size: 0.9rem;
    }

    small {
      color: #80868b;
      font-size: 0.9rem;
      display: inline-block;
      margin: 0 5px;
    }
  }

  .form-control {
    width: 230px;
    padding: 5px 12px !important;
  }

  .btn-clear-filters {
    background-color: transparent;
    color: #80868b;
    font-size: 0.9rem;
  }
}

// ****************************************
// TABLE STLYING
// ****************************************

.card-table {
  padding: 20px;
  margin-bottom: 10vh;
  border-radius: 8px;
  border: none;
  min-height: 210px;

  .table-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .table-title {
    color: #3c4043;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
  }
}
.table {
  margin-top: 30px;
  thead {
    th {
      border-top: none;
      color: #3c4043;
      font-size: 0.9rem;
      white-space: nowrap !important;
      font-weight: 500;
    }
  }

  tbody {
    tr {
      &:hover {
        td {
          background-color: #f1f1f155;
          transition: all 0.2s;
        }
        .redirect-link {
          text-decoration: underline;
        }
      }

      &:last-child td {
        border-bottom: none !important;
      }
    }

    .no-hover-effect:hover {
      background-color: transparent !important;
    }

    td {
      color: #5f6063;
      font-size: 0.9rem;
      // vertical-align: middle;
      border-bottom: 1px solid #f1f1f1;
      padding: 10px 8px;

      .redirect-link {
        color: #3c4043;
        text-decoration: none;
        cursor: pointer;
        text-underline-offset: 2px;
        font-weight: 500;
        transition: all 0.2s;
      }

      .word-break {
        word-break: keep-all !important;
      }

      .badge {
        border-radius: 20px;
        padding: 7px 12px !important;
        vertical-align: middle;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
      }

      .btn {
        font-size: 0.8rem;
        letter-spacing: 1px;
        color: #fff;
        font-weight: 600;
        margin-right: 5px;
        border-radius: 4px !important;
      }

      .btn-view {
        background-color: #f08121;
      }

      .btn-edit {
        background-color: #003d4c;
      }

      .btn-delete {
        background-color: #d11a2a;
      }

      .btn-cancel {
        background-color: #e9e9e9;
        color: #5f6063;
        margin-right: 20px;
      }

      .btn-action {
        background-color: #0d953e;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 0.8rem;
        padding: 3px 12px;
      }

      .dropdown {
        .dropdown-toggle {
          background-color: #e1e1e1;
          color: #3c4043;
          font-weight: 600;
          letter-spacing: 1px;
          font-size: 0.8rem;
          padding: 4px 12px;
        }

        .dropdown-menu {
          border: 1px solid #f1f1f1;
          border-radius: 6px;
          padding: 0;
          overflow-x: hidden;
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
            0 4px 6px -2px rgba(0, 0, 0, 0.05);

          a,
          .dropdown-item {
            padding: 10px;
            color: #5f6063 !important;
            font-size: 0.9rem;
            cursor: pointer;

            &:hover {
              background-color: #f1f1f177;
            }
          }

          .divider {
            background-color: #e1e1e1;
            height: 1px;
            width: 100%;
          }
        }
      }
    }
  }
}


// CUSTOM TABULAR STYLING
// ***********************************

.tabular-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(50% - 5px));
  // gap: 0 10px;
  margin-bottom: 20px;

  .tabular-item {
    padding: 15px 10px;
    border-bottom: 1px solid #f1f1f1;

    &:nth-child(odd) {
      border-right: 1px solid #e1e1e1;
    }

    &:hover {
      background-color: #f1f1f155;
      transition: background-color 0.2s;
    }

    .title {
      font-weight: 500;
      font-size: 0.9rem;
      color: #3c4043;
      max-width: 40%;
      display: block;
    }

    .value {
      color: #5f6063;
      font-size: 0.9rem;
      max-width: 60%;
      display: block;
      text-align: right;
    }
  }
}

.tabular-layout-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 0 15px;
  margin: 20px 0;
  padding-left: 10px;

  .image-item {
    height: 200px;
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 12px;
      border: 1px solid #e1e1e1;
    }
  }
}

// ***************************************1
// MODAL STYLING
// ***********************************************

.modal {
  backdrop-filter: blur(4px);
  // background-color: #0003!important;
  padding: 0 !important;

  .modal-title {
    font-weight: 600;
    color: #3c4043;
    font-size: 1.4rem;
  }

  .modal-content {
    border-radius: 8px;
  }

  .modal-section-title {
    font-size: 0.95rem;
    margin-bottom: 20px;
    color: #3c4043;
    // font-weight: 600;
  }

  .selected-listing {
    display: inline-block !important;
    margin: 10px 0;

    .selected-item {
      border: 1px solid #e1e1e1;
      border-radius: 20px;
      padding: 6px 20px;
      margin-bottom: 10px;
      margin-right: 10px;
      color: #3c4043;
      font-size: 0.85rem;
      display: inline-block;
      background-color: #f1f1f1;

      .fas {
        cursor: pointer;
        margin: 0 7px;
      }

      .fa-times-circle {
        color: #d11a2a;
        font-size: 1.2rem;
        vertical-align: middle;
      }

      .fa-pen {
        color: #18224b;
        font-size: 0.9rem;
      }
    }
  }

  .modal-footer {
    // border: none;

    .btn {
      font-size: 0.9rem;
      font-weight: 600;
      border-radius: 4px;
      color: #3c4043;
      padding: 8px 20px;
      letter-spacing: 1px;
    }

    .btn-cancel {
      background-color: #e1e1e1;
      margin-right: 20px;
    }

    .btn-submit {
      // background-color: #13d0d5;
      background-color: #212121;
      color: #fff;
    }

    .btn-delete {
      background-color: #d11a2a;
      color: #fff;
    }
  }
}

// ******************************
// GLOBAL SPINNER STYLING
// *******************************

.donut-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.donut {
  width: 3rem;
  height: 3rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid #13d0d555;
  border-top-color: var(--app-blue);
  animation: 1.5s spin infinite linear;

  &.multi {
    border-bottom-color: var(--app-blue);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1600px) {
  body {
    zoom: 90%;
  }
}

@media (max-width: 1400px) {
  body {
    zoom: 86%;
  }

  .container {
    min-width: 90%;
  }
}
